@page
@model PrivacyModel
@{
    ViewBag.Title = "Privacy Policy";
}


<h1>Playlistic Privacy Policy:</h1>

<h6>Playlistic requires access from you to create new playlists and search for songs to add to your playlists on Spotify. Newly created playlists on Spotify will also not be stored or remembered in any way.</h6>
<h6>Playlistic does not know or store your name, address, age or other personal data that would identify who you are. There are no cookies in place to remember you.</h6>
<h6>Playlistic also does not require, have knowledge of, or store any information about your YouTube account. This website will also not store any YouTube playlist that is submitted to this website.</h6>
