@page
@model PrivacyModel
@{
    ViewBag.Title = "Privacy Policy";
}


<h1>Youtube2Spotify Privacy Policy:</h1>

<h5>Youtube2Spotify requires access from you to create new playlists and search for songs to add to your playlists on Spotify. Newly created playlists on Spotify will also not be stored or remembered in any way. Youtube2Spotify does not know or store your name, address, age or other personal data that would identify who you are.</h5>
<h5>Youtube2Spotify, outside of Spotify, also does not know or store any information about you. There are no cookies in place to remember who you are, whether or not you are authenticated to Spotify. You are required to re-authenticate Youtube2Spotify every time you use this website.</h5>
<h5>Youtube2Spotify also does not require, have knowledge of, or store any information from your YouTube account. This website will also not store any YouTube playlist that is submitted to this website.</h5>
