# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
bin/
obj/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/bin/
**/obj/

# Visual Studio Code
.vscode/

# Other
*.log
*.bak
*.cache
*.tmp
*.db
*.db-shm
*.db-wal
*.idea/
*.resharper
*.sln.ide
*.suo.ide
*.user.ide
*.vbw
*.vbw6
*.vbw7
*.vbw8
*.vbw9
*.vbw10
*.vbw11
*.vbw12
*.vbw13
*.vbw14
*.vbw15
*.vbw16
*.vbw17
*.vbw18
*.vbw19
*.vbw20
*.vbw21
*.vbw22
*.vbw23
*.vbw24
*.vbw25
*.vbw26
*.vbw27
*.vbw28
*.vbw29
*.vbw30
*.vbw31
*.vbw32
*.vbw33
*.vbw34
*.vbw35
*.vbw36
*.vbw37
*.vbw38
*.vbw39
*.vbw40
*.vbw41
*.vbw42
*.vbw43
*.vbw44
*.vbw45
*.vbw46
*.vbw47
*.vbw48
*.vbw49
*.vbw50
*.vbw51
*.vbw52
*.vbw53
*.vbw54
*.vbw55
*.vbw56
*.vbw57
*.vbw58
*.vbw59
*.vbw60
*.vbw61
*.vbw62
*.vbw63
*.vbw64
*.vbw65
*.vbw66
*.vbw67
*.vbw68
*.vbw69
*.vbw70
*.vbw71
*.vbw72
*.vbw73
*.vbw74
*.vbw75
*.vbw76
*.vbw77
*.vbw78
*.vbw79
*.vbw80
*.vbw81
*.vbw82
*.vbw83
*.vbw84
*.vbw85
*.vbw86
*.vbw87
*.vbw88
*.vbw89
*.vbw90
*.vbw91
*.vbw92
*.vbw93
*.vbw94
*.vbw95
*.vbw96
*.vbw97
*.vbw98
*.vbw99
*.vbw100
