@model ResultModel

@{
    Layout = "_Layout";
}

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Youtube Videos Total: (@Model.TotalVideoNames.Count)</th>
                <th scope="col">Spotify Tracks Total: Found: (@Model.CompletedNames.Where(x => !string.IsNullOrEmpty(x)).Count());</th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Model.TotalVideoNames.Count; i++)
            {
                <tr>
                    <th scope="row">i</th>
                    <td>Model.TotalVideoNames[i]</td>
                    <td>Model.CompletedNames[i]</td>

                </tr>
            }
        </tbody>
    </table>
}





<div>
    @if (Model == null)
    {
        <p>Failed to generate playlist</p>
    }
    else
    {
        <p>Your Converted Spotify Playlist is Ready!</p>
        <a href="@Model.SpotifyLink">@Model.SpotifyLink</a>
    }
</div>

