@model HomeModel

@{
    ViewBag.Title = "Playlistic";
}

@if (!Model.Authenticated)
{
    <h1>TLDR: I move your music playlist from youtube to spotify</h1>
    <h2>I need permission to make the playlist on your spotify account for you</h2>

    <form id="authBlock" method="post" asp-action="TriggerAuth" asp-controller="Auth">
        <div class="form-group">
            <button class="btn col-12 col-sm-8 col-md-6 col-lg-4 col-xl-2" style="background-color:#1DB954;color:black;font-weight:bold" type="submit">Authorize Spotify</button>
        </div>
    </form>
}


@if (Model.Authenticated)
{

    <h1>Enter a YouTube Playlist ID</h1>
    
    <form method="get" asp-action="Index" asp-controller="Youtube2Spotify">
        <div class="form-group">
            <input class="form-control" type="text" id="youtubePlaylistID" name="youtubePlaylistID" placeholder="Example: RDCLAK5uy_kj3rhiar1LINmyDcuFnXihEO0K1NQa2jI" required>
        </div>
        <div class="form-group">
            <button class="btn col-12 col-sm-8 col-md-6 col-lg-4 col-xl-2 btn-primary" type="submit">Submit</button>
        </div>
    </form>

}

